{% extends 'core/base.html' %}

{% block content %}

<a href="{% url 'core:companys' %}" class="btn btn-light mt-3">Voltar</a>

<div align="center" class="my-4">
    {% if company.logo %}
    <img src="{{ company.logo.url }}" width="10%" style="margin-bottom: 20px;">
    {% endif %}
    <h2>{{ company.name }}</h2><br>
    <a href="{% url 'core:edit_company' company.id %}" class="btn btn-info">Editar Empresa</a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteCompany">
        Excluir Empresa
    </button>
</div>

<div class="row">
    <div class="col">
        <h3>Departamentos da Empresa:</h3>
        {% if departments %}
        <div class="mx-5 text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr>
                        <td>
                            <a href="{% url 'core:department_page' department.id %}">
                                {{ department.name }}
                            </a>
                        </td>
                        {% if department.status is True %}
                        <td>Ativo</td>
                        {% else %}
                        <td>Inativo</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
        {% else %}
        <h5>Não há departamentos para esta empresa.<br>Cadastre algum departamento que ele aparecerá aqui.</h5>
        {% endif %}
    </div>
    <div class="col" align="right">
        <a href="{% url 'core:create_department' company.id %}" class="btn btn-primary">Cadastrar novo Departamento</a>
    </div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="modalDeleteCompany" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deseja mesmo excluir esta empresa?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Se a exclusão for confirmada, TODOS os registros relacionadas à empresa também serão excluídos.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
          <form action="delete" method="post">
              {% csrf_token %}
            <button type="submit" class="btn btn-primary">Sim! Quero excluir</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}