{% extends 'core/base.html' %}

{% block content %}
<div class="row">
    <div class="col" align='left'>
        <a href="{% url 'core:company_page' company.id %}" class="btn btn-light mt-3">Voltar</a>
    </div>
    <div class="col" align="right">
        <a href="{% url 'core:logout' %}" class="btn btn-light">Logout</a>
    </div>
</div>
<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{ company.logo.url }}" alt="Logo Empresa" width="72" height="72">
    <h2>Registro de Departamento</h2>
</div>
<div class="mx-5">
    <form method="post">
        {% csrf_token %}
        <label>Nome: </label>
        {{ form.name }}
        <br>
        <label>Status:<br> Ativo</label>
        {{ form.status }}
        <br>
        <div align="center">
            <button type="submit" class="btn btn-success">Salvar</button>
            <script>
                function retornar() {
                    history.go(-1);
                }
            </script>
            <button onclick="retornar()" class="btn btn-danger">Cancelar</button>
        </div>
    </form>
</div>

{% endblock %}