{% extends 'core/base.html' %}

{% block content %}

<div align="center" class="my-4">
    {% if department.company.logo %}
    <img src="{{ department.company.logo.url }}" width="10%" style="margin-bottom: 20px;">
    {% endif %}
    <h2>{{ department.company }}</h2><br>
    <h1>{{ department.name }}
        {% if department.status is False %}
         (Inativo)
        {% endif %}
    </h1>
    <a href="{% url 'core:edit_department' department.id %}" class="btn btn-info">Editar Departamento</a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDeleteDepartment">
        Excluir Departamento
    </button>
</div>

<div class="row no-gutters">
    <div class="col-sm-6 col-md-8">
        <h3>Funcionários deste Departamento:</h3>
        {% if employees %}
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Gênero</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Atribuição</th>
                        <th scope="col">Idade</th>
                        <th scope="col">Data de ingresso</th>
                        <th scope="col">Salário</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.gender }}</td>
                        <td>{{ employee.phone }}</td>
                        <td>{{ employee.role }}</td>
                        <td>{{ employee.age }}</td>
                        <td>{{ employee.joining_date }}</td>
                        <td>{{ employee.salary }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h5>Não há funcionários neste departamentp desta empresa.<br>Cadastre algum funcionário que ele aparecerá aqui.</h5>
        {% endif %}
    </div>
    <div class="col-6 col-md-4" align="right">
        <a href="" class="btn btn-primary">Cadastrar novo Funcionário</a>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalDeleteDepartment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deseja mesmo excluir esta empresa?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Se a exclusão for confirmada, TODOS os registros relacionadas à empresa também serão excluídos.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
          <form action="delete" method="post">
              {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim! Quero excluir</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}