{% extends 'core/base.html' %}

{% block content %}
<div class="py-5 text-center">
    <h1>Registro de Empresa</h1>
</div>
<div class="mx-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="number" name="id_company" value="{{ company.id }}" hidden>
        <label>Nome: </label>
        {{ form.name }}
        <br>
        <label>CNPJ: </label>
        {{ form.legal_number }}
        <br>
        <label>Logo: </label><br>
        {{ form.logo }}
        <br>
        <div align="center">
            <button type="submit" class="btn btn-success">Salvar</button>
            <script>
                function retornar() {
                    history.go(-1);
                }
            </script>
            <button onclick="retornar()" class="btn btn-danger">Cancelar</button>
        </div>
    </form>
</div>

{% endblock %}