{% extends 'core/base.html' %} 


{% block content %}
<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{ department.company.logo.url }}" alt="Logo Empresa" width="72" height="72">
    <h2>Registro de Colaborador</h2>
</div>

<form method="post">
{% csrf_token %}
    <div class="row mx-5">
        <div class="col">
            <label>Nome: </label>
            {{ form.name }}
            <br>
            <label>Gênero: </label>
            {{ form.gender }}
            <br>
            <label>Função: </label>
            {{ form.role }}
            <br>
            <label>Usuário:</label>
            {{ form.user }}
        </div>
        <div class="col">
            <label>Idade: </label>
            {{ form.age }}
            <br>
            <label>Telefone: </label>
            {{ form.phone }}
            <br>
            <label>Salário:</label>
            {{ form.salary }}
            <br>
            <label>Data de ingresso:</label>
            {{ form.joining_date }}
            <br><br>
            <div align="center">
                <button class="btn btn-success" type="submit">Salvar</button>
                <a href="{% url 'core:department_page' department.id %}" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </div>
    <br>
    
</form>
{% endblock %}